.brand-logo:hover {
    cursor: pointer;
    &:hover {
        border-radius: 50%;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    }
    &:active {
        background-color: hsl(0, 0%, 0%, 0.3);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 30%), 0px 4px 5px 0px rgb(0 0 0 / 24%), 0px 1px 10px 0px rgb(0 0 0 / 22%);
    }
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-bar {
    background: rgb(255, 255, 255) !important;
    color: black !important;
    &__tabs-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.nav-link{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    margin-left: 16px; //=theme.spacing(2);
    :hover {
        cursor: pointer;
        color: yellow;
        border-bottom: "1px solid yellow"
    }
}